section#contacts
    div.contacts--header
        h1 Contacts
    
    div.contacts__main
        h2 Find my other stuff...

        mixin myLinks(link, imgPath, image, name)
            a(href= link, target="_blank")
                img(src= imgPath + 'contact-' + image, alt= name)

        div.contact--mylinks
            +myLinks(
                "https://github.com/joaosaro",
                imgPath,
                "github.png",
                "Github"
            )
            +myLinks(
                "https://codepen.io/joaosaro",
                imgPath,
                "codepen.svg",
                "Codepen"
            )
            +myLinks(
                "https://www.linkedin.com/in/joaosaro/",
                imgPath,
                "linkedin.svg",
                "Linkedin"
            )
            +myLinks(
                "mailto:joaovlsaro@gmail.com",
                imgPath,
                "mail.svg",
                "Mail"
            )

        h2 Talk to me...

        form#contact-form
            input#contact-name(type="text", name="name", placeholder="Your name")
            input#contact-email(type="email", name="_replyto", placeholder="Your email")
            textarea#contact-message(name="message", placeholder="... and finally, your message. :)", required)
            button(type="submit") Send
            input(type="text", name="_gotcha", style="display: none;")
        
        h2 Buddies and inspirations

        mixin references(name, description, link, site)
            div.references--item
                h4= name
                p= description
                a(href= link, target="_blank")= site
        
        div.contact--references
            +references(
                "Tomás Francisco",
                "Friend &amp; code buddy",
                "http://www.tomasfrancisco.com",
                "www.tomasfrancisco.com"
            )
            +references(
                "Travis Neilson",
                "Code &amp; Design teacher/Youtuber",
                "http://www.travisneilson.com",
                "www.travisneilson.com"
            )
            +references(
                "Unsplash",
                "Beautiful &amp; free photos community",
                "http://www.unsplash.com",
                "www.unsplash.com"
            )

        h2 Credits

        div.contact--credits
            p This website was made with 
                a(href="http://pugjs.org", target="_blank") Pug.js
                | , 
                a(href="http://sass-lang.com/", target="_blank") SASS 
                | and 
                a(href="http://gulpjs.com/", target="_blank") Gulp.js. 
                | If you are interested,  check out the code here:

            p &#8605; 
                a(href="https://github.com/joaosaro/mysite", target="_blank") www.github.com/joaosaro/mysite

            p Feel free to ask, correct or suggest anything. ;)

            p Oh, I stole some stuff and they deserve to be credited:
            
            ul
                li Root template from Samuel, check his awesome pen here: #[a(href="https://codepen.io/SamuelVDP/pen/amBxKZ", target="_blank") Drop The Needle]

                li Two images from #[a(href="https://unsplash.com", target="_blank") Unsplash]:
                    ul
                        li One from #[a(href="https://unsplash.com/@rawpixel", target="_blank") Rawpixel]
                        li The other from #[a(href="https://unsplash.com/@alvaroserrano", target="_blank") Álvaro Serrano]

                li Mail icon from #[a(href="http://www.flaticon.com/", target="_blank") Flat Icon]
        
