section#contacts
    .box
        figure
            img(src='http://www.puna.nl/wp-content/uploads/2016/03/1373305573_0c9dd50e8cdbae0eb2e397f53d8fc97c.jpg', alt='Freddie Gibbs')
            figcaption Freddie Gibbs: Shadow of a Doubt
        article
            p
                | After dropping last year’s Piñata with Madlib and two subsequent EPs, Freddie Gibbs is back with his third full-length studio album. Shadow of a Doubt features over a dozen wide-ranging names contributing beats, from Canadian hitmaker Boi-1da to 808 Mafia’s Tarentino, and his roots and aspirations have never been clearer.
            p
                | Freddie Gibbs doesn’t believe in resting on his laurels. After dropping last year’s Piñata with Madlib at the helm — the rapper’s most commercially and critically successful project to date — he could have taken some well-deserved time off. Instead, he toured non-stop and played festivals, put out two EPs The Tonite Show with the Worlds Freshest and Pronto, and last but not least, became a father.
            p
                | Now with little advance notice, and a raised middle finger to Q4 release schedules and anyone foolish enough to be making their best-of year-end lists early, the pride of Gary, Ind. is back with his third full-length studio album. A quick scan of the credits reveals the biggest difference between Shadow of a Doubt and his last LP—instead of one singular producer, there’s over a dozen wide-ranging names contributing beats here from Canadian hitmaker Boi-1da to 808 Mafia’s Tarentino. While the final result is less cohesive, and could benefit from trimming two or three songs, there’s no denying Gibbs’ versatility.
            p.last
                | If there’s any question as to whether or not acclaim has mellowed the man who frequently refers to himself as both "Gangsta Gibbs" and "Freddie Corleone", look no further than the two tracks that bookend the record. The sparse, atmospheric "Rearview", which opens with a "Welcome to Los Angeles International Airport" P.A., sees the rapper offer up a bullet point summary of his career to date before dismissing would-be copycats with trademark precision. In contrast, "Cold Ass Nigga" sees Gibbs with two feet on the gas, with frequent Kanye West collaborator Mike Dean providing a suitably urgent, glitchy trap beat. It’s nothing like anything else in Gibbs’ vast catalogue (its closest spiritual companion might be "Old English", his 2014 track with A$AP Ferg and Young Thug) and it’s proof that the 33 year old is still more than willing to push himself out of his sonic comfort zone.
