section#hero.is-selected
    .lead
        h1.lead--text
            | Front-end #[span.highlight developer], #[br] 
            | A touch of #[span.highlight analytics] #[br] 
            | With a twist of #[span.highlight lemon]

        figure.lead--images
            img(src= imgPath + 'javascript.gif', alt="")
            img(src= imgPath + 'kurt-lemon.gif', alt="")

    .resume
        p From a business student to a programmer professional. Nowadays, I work as front-end developer at a startup and seeking to deepen knowledge in javascript, vanilla or frameworks as Vue, React, Angular and D3.

        p Check it here what I had been doing!

        br
        br
        br
        
        p.resume--links Download my #[a(href="#", target="_blank") curriculum] or check my #[a(href="#projects", class="what-trigger") projects] and #[a(href="#contacts", class="where-trigger") contacts].
        
