section#hero.is-selected
    h1.lead
        | Front-end #[span.highlight developer], #[br] 
        | A touch of #[span.highlight analytics] #[br] 
        | With a twist of #[span.highlight lemon]

    .resume 
        p After few years learning how to build static websites self-taught, I decide to start a full-time career as developer in 2015 and I was selected for a bootcamp by Critical Software.

        p Nowadays, I work as front-end developer at a startup and seeking to deepen knowledge in javascript, vanilla or frameworks as Vue, React, Angular and D3.

    .curiosity
        ul
            li My name was given because a caracther

            li Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

            li Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

    .skills
        
