section#hero.is-selected
    
    .hero--lead
        h1.lead--text
            | Front-end #[span.highlight developer], #[br] 
            | A touch of #[span.highlight analytics] #[br] 
            | With a twist of #[span.highlight lemon]

        figure.lead--images
            img(src= imgPath + 'javascript.gif', alt="")
            img(src= imgPath + 'kurt-lemon.gif', alt="")

    .hero--resume
        p From business graduate to professional programmer. #[br]Nowadays, I work as front-end developer at a startup and seek to deepen my knowledge on javascript, vanilla or frameworks such as Vue, React, Angular and D3.

        p Check this site to see what I have been working on.
        
        - var cvLink = "docs/cv/cv-joaosaro.pdf"
        p.hero--resume__links Download my #[a(href= cvLink, target="_blank") curriculum] or check my #[a(href="#projects", class="what-trigger") projects] and #[a(href="#contacts", class="where-trigger") contacts].
        
