mixin project(className, title, cat, task, date, link, site)
    .project(class= className)
        .project--title
            h3.title= title
            h4.details= cat + " / " + task + " / " + date
        .project--site
            a(href= link, target="_blank")= site


section#projects
    div.projects--header
        h1 Projects
    
    .projects-going
        h2 On going...

        +project(
                "proverbios", 
                "Provérbios Disléxicos", 
                "Fun",
                "Web Developer",
                "2017",
                "http://www.proverbiosdislexicos.com", "www.proverbiosdislexicos.com"
        )

        +project(
                "jitt", 
                "JiTT.travel", 
                "Full-time Job",
                "Front-end Developer & analytics",
                "2015-2017",
                "http://www.jitt.travel", "www.jitt.travel"
        )

        +project(
                "crf", 
                "Ceira Rock Fest", 
                "Music Festival", 
                "Team Member",
                "since 2009", 
                "http://www.ceirarockfest.com", 
                "www.ceirarockfest.com"
        )

        +project(
                "ceiramove", 
                "Ceira Move", 
                "Local Web Magazine", 
                "Co-creator and editor",
                "since 2009", 
                "http://www.ceiramove.com", 
                "www.ceiramove.com"
        )

    .projects-done
        h2 Done!
        
        +project(
                "lusotenis", 
                "Luso Ténis", 
                "Tennis Portal",
                "Creator and editor",
                "2005-2012",
                "http://www.joaosaro.com/lusotenis", "www.lusotenis.com / down :("
        )

        +project(
                "efeitosifao", 
                "Efeito Sifão", 
                "Blog", 
                "Blogger",
                "since 2011", 
                "http://efeitosifao.blogs.sapo.pt", 
                "www.efeitosifao.blogs.sapo.pt"
        )
