mixin project(className, title, cat, task, date, link, site)
    .project(class= className)
        .project--title
            h3.title= title
            h4.details= cat + " / " + task + " / " + date
        .project--site
            a(href= link, target="_blank")= site


section#projects
    div.projects--header
        h1 Projects
    
    .projects-going
        h2 Code-related

        +project(
                "cobalt", 
                "Cobalt Design", 
                "Work",
                "React, Sass",
                "2018-",
                "http://www.talkdesk.com", 
                "www.talkdesk.com"
        )

        +project(
                "jitt", 
                "JiTT.travel", 
                "Work",
                "jQuery, Pug, SASS",
                "2015-2017",
                "http://www.jitt.travel", 
                "www.jitt.travel"
        )

        +project(
                "proverbios", 
                "Provérbios Disléxicos", 
                "Side project",
                "Vue.js, Pug, SASS",
                "2017",
                "http://www.proverbiosdislexicos.com", "www.proverbiosdislexicos.com"
        )

        +project(
                "staro-webkit", 
                "Staro Webkit [BETA]", 
                "Side-project",
                "Gulp.js & Pug & SASS boilerplate",
                "2017",
                "https://github.com/joaosaro/staro-webkit", 
                "Github"
        )

        +project(
                "jitt-publisher", 
                "JiTT.travel Publisher", 
                "Work",
                "Backbone.js",
                "2016",
                "http://publisher.jitt.travel", 
                "publisher.jitt.travel"
        )

    .projects-going
        h2 Non code-related

        +project(
                "lusotenis", 
                "Luso Ténis", 
                "Tennis Portal",
                "Creator and editor",
                "2005-2012",
                "#", 
                "www.lusotenis.com / broken :("
        )

        +project(
                "crf", 
                "Ceira Rock Fest", 
                "Music Festival", 
                "Team Member",
                "since 2009", 
                "http://www.ceirarockfest.com", 
                "www.ceirarockfest.com"
        )

        +project(
                "ceiramove", 
                "Ceira Move", 
                "Local Web Magazine", 
                "Co-creator and editor",
                "since 2009", 
                "#",
                "www.ceiramove.com / broken :()"
        )
