section#three
    .box
        article
            img(src='http://imb.ulximg.com/image/src/artist/1381260982_7d1af5350d0c0d189771c2140409cddf.jpg/26f5f8b2db9331df21ba4303cde26ba9/1381260982_72e46264afba5f79518f039e4f9df0f7.jpg', alt='Action Bronson')
            h2 Action Bronson Announces That He’ll Drop A New Project In Early 2016
            p
                | More than likely, Action Bronson will remember 2015 for being a year packed with an equal amount of highs and lows. The Queens rapper dropped his well-received debut album, Mr. Wonderful, in March, and got another season of his entertaining Munchies
                | cooking show, “Fuck, That’s Delicious,” off the ground. However, he also took some nasty Ls, like getting ethered in a beef by Tony Starks himself, Ghostface Killah, and sued for his use of samples.
            p
                | In any case, Bronsolini’s on that new-year-new-you vibe: He posted on Twitter recently that fans can expect his latest project to drop at the top of the new year.
            p
                | Fans should temper their excitement, however, at least until the hirsute rapper shares a downloadable file. Bronson also announced last year that he’d drop the last installment of his and Party Supplies’ excellent Blue Chips series, but there’s since
                | been no further information released on that project.
    
    .box
        article
            img(src='https://images.rapgenius.com/e4e53b7f03232ca6164f65a599807578.1000x1000x1.jpg', alt='good kid, m.A.A.d city')
            h2 Kendrick Lamar’s ‘good kid, m.A.A.d city’ Short Film Has Finally Surfaced
            p
                | Back in 2014, news broke that there was a short film circulating that was at least inspired by Kendrick Lamar’s classic good kid, m.A.A.d city, and may be an official, artistic piece of the entire presentation of the album. After a few local showings,
                | buzz around the film mostly came and went. That was until it officially surfaced online Thursday morning.
            p
                | Directed by Kahlil Joseph, m.A.A.d is more of a collection of vibrant images set to Kendrick’s songs than an actual film, but it makes for interesting viewing nonetheless. K.Dot appears in the 15-minute film only via old home video from 1992, and
                | briefly, so his connection to the short is almost entirely through his music.
            p
                | As of now the film has only been shown at a few film festivals and likely was never meant to be seen otherwise. While Kendrick initially toyed with the idea of an official GKMC short film, Joseph’s film never became that. Instead it was simply linked
                | to Kendrick, and with the infusion of old home footage it obviously has the rapper’s blessing. In fact, according to DJ Booth, m.A.A.d was created after K. Dot and Joseph collaborated to create a video meant to be shown during Kendrick’s set
                | on Kanye West’s Yeezus tour, and eventually some of that footage became Joseph’s film.
    .box
        article
            img(src='http://img2-ak.lst.fm/i/u/arO/2cc0be9e4b114e3fcea3ecaf64f7c4d1', alt='Isaiah Rashad')
            h2
                | Isaiah Rashad’s ‘Park’ Is A Perfect Precursor To His New Album, ‘The Sun’s Tirade’
            p
                | If you want to know where Isaiah Rashad has been, his journey since Cilvia Demo is full of survival. He recently revealed his past addiction to Xanax and alcohol slowed his progress as an artist, and almost got him dropped from TDE. Luckily, ZayWop
                | overcame that and has released his sophomore album, The Sun’s Tirade.
            p
                | The album is 17 tracks in length, and holds features from Kendrick Lamar, Jay Rock, SZA, Syd, and more. Songs like “4r Da Squaw” and “Free Lunch” come straight out of the Cilvia Demo sound, but Isaiah makes it known that he’s evolved since throughout.
                | He’s using plenty of diverse producers, such as Mike Will Made It and DK The Punisher. An early favorite is “Stuck in the Mud” because you can’t beat those collaborations with SZA since the two make a perfect match.
            p
                | As for the title, it’s hard to interpret based on the subject matter found on the album. A tirade is considered to be a lengthy, mostly angry form of criticism or accusation. While the concepts of each song don’t exactly scream out happiness, they
                | don’t come off as anger. Maybe The Sun’s Tirade is more-so a reflection of how the world is looking at him with everything that happened since his first album.
