include ../0-setup/head.pug

body.body--wrap
    include ../1-modules/header.pug
    main
        include ../2-sections/home/hero.pug
        include ../2-sections/home/two.pug
        include ../2-sections/home/three.pug
        include ../2-sections/home/four.pug

    include ../1-modules/footer.pug
    include ../0-setup/scripts.pug 
