meta(property="og:site_name", content="João Saro")
meta(property="og:title", content="João Saro | Frontend Developer & Analytics")
meta(property="og:image", content="http://joaosaro.com/assets/images/projects.jpg")
meta(property="article:author", content="https://www.facebook.com/joaosaro")
meta(property="article:publisher", content="https://www.facebook.com/joaosaro")
meta(property="og:url", content="http://www.joaosaro.com")
