meta(name="twitter:card", content="summary_large_image")
meta(name="twitter:site", content="@joaosaro")
meta(name="twitter:creator", content="@joaosaro")
meta(name="twitter:title", content="João Saro")
meta(name="twitter:description", content="From business graduate to professional programmer. ")
meta(name="twitter:image", content="http://joaosaro.com/assets/images/projects.jpg")
