@import url('https://fonts.googleapis.com/css?family=Abril+Fatface')
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700')

\:root
    font-size: 20px

//General Settings
*,
*:before,
*:after
    box-sizing: border-box
    margin: 0
    padding: 0
    outline: none

html,
body
    height: 100%
    min-width: 320px
    font-family: 'Lato', sans-serif
    color: $color-text
    font-size: 62.5%
    background-color: $color-back
    overflow-x: hidden

a
    text-decoration: none
    color: $color3

header,
main,
footer,
section,
    position: relative
    overflow: hidden

figure
    margin: 0

h1
    font-weight: 400
    font-size: 4em
    font-weight: 900

h2
    font-weight: 400
    font-size: 2em
    font-weight: 700
    margin: 20px 0 25px 0

p
    font-size: 1.4em
    font-weight: 200
    letter-spacing: 0.025em
    line-height: 1.4em
    margin-bottom: 25px
    text-align: justify

ul
    list-style: none

.body--wrap
    display: flex
    flex-wrap: wrap

    header
        flex: 1

    main
        flex: 3
        float: right
        margin: 0 2.5%
        min-height: 100%
        overflow: scroll

    @media (max-width: 900px)
        display: block

        main
            float: none
            width: 100%

        header
            position: fixed
            bottom: 0
            width: 100%

section
    align-items: flex-start
    display: flex
    flex-direction: row
    flex-wrap: wrap
    justify-content: space-between
    opacity: 0
    position: absolute
    z-index: -1
    width: 100%
    transition: opacity 0.6s

    &.is-selected

.box
    flex: 1
    min-width: 300px
    padding: 30px 30px 0 0

.last
    margin: 0

figure
    position: relative

figcaption
    background-color: #000
    bottom: 0
    font-size: 4em
    font-weight: 700
    line-height: 1.2em
    margin: 30px
    padding: 10px
    position: absolute

img
    max-width: 100%
