//Paths
$imgPath: '/assets/img/'

// Colors
$color-text:    #000000
$color-back:    #FEFEFE
$color3:        #FFDF54
$color4:        #2C4251

//fonts
$fontTitles: 'Abril Fatface', cursive
$fontText: 'Lato', sans-serif

//Media-queries break-points
$media-phone: 600px
$media-tablet: 975px

//metrics
$side-padding: 1.5rem
$title-line: 1.2
