mixin nav(className)
    nav(class= className)
        ul
            li: a(href='#hero', class="trigger selected") 
                | #[span.count 01] Who
                span.description about me
            li: a(href='#projects', class="trigger")
                | #[span.count 02] What
                span.description my projects
            li: a(href='#contacts', class="trigger") 
                | #[span.count 03] Where
                span.description talk with me

header
    h1.page--title
        include ../../assets/images/lemon.svg
        | João Saro

    +nav('navigation__desktop')

    +nav('navigation__tablet')
