header
    h1.page--title
        include ../../assets/images/lemon.svg
        | João Saro

    nav.navigation--main
        ul
            li: a.selected(href='#hero') 
                | #[span.count 01] Who
                span.description about me
            li: a(href='#projects')
                | #[span.count 02] What
                span.description my projects
            li: a(href='#contacts') 
                | #[span.count 03] Where
                span.description talk with me
