//Note: Header and main 'pre-flexed' at general.sass
header
    height: 100%
    float: left
    color: $color4

    @media (max-width: $media-tablet)
        display: block
        width: 100%
        height: 0
        float: none
        z-index: 100

    .page--title
        font-family: $fontText
        font-size: 25px
        font-weight: 900
        text-transform: uppercase
        margin: 30px 0 0 14%
        padding-top: 10px

        svg
            margin-right: 5px
            transform: translateY(-50%)

        @media (max-width: $media-tablet)
            position: fixed
            height: $tablet-top
            width: 100%
            margin: 0
            text-align: center
            background-color: $color4
            color: $color-back
            line-height: $tablet-top
            vertical-align: middle

            svg g
                fill: $color3

        @media (max-width: $media-phone)
            height: $phone-top
            line-height: $phone-top
            padding-top: 5px
            font-size: 20px

            svg
                margin-right: 0
                transform: translateY(-10%)


.navigation__desktop
    height: 100%
    min-width: 25%
    position: fixed

    @media (max-width: $media-tablet)
        display: none

    ul
        bottom: 0
        margin:
            top: 0
            right: 0
            bottom: 100px
            left: 14%
        position: absolute
        transition: margin-bottom 0.4s

        li
            margin-top: 40px

            span
                color: $color4
                font-weight: 300
                margin-right: 10px
                transition: color 0.8s

            .count
                color: $color3
                font-size: 12px
                transition: all .3s

            .complete
                display: block
                font-size: 12px
                margin-left: 8ch
                transition: all .3s

            .description
                display: block
                font-size: 10px
                margin-left: 10ch
                transition: all .3s

            a
                color: $color4
                font-size: 1.4em
                font-weight: 300
                text-decoration: none
                transition: font-size 0.4s, font-weight 0.4s

            .selected
                font-size: 3em
                font-weight: 700


                .description
                    font-size: 16px
                    margin-left: 8ch

                .count
                    color: $color3
                    font-size: 18px

.navigation__tablet
    position: fixed
    bottom: 0
    height: $tablet-bottom
    width: 100%
    background-color: lighten($color3, 20%)

    display: none

    @media (max-width: $media-tablet)
        display: block

    @media (max-width: $media-phone)
        height: $phone-bottom

    ul
        display: flex
        justify-content: space-around
        align-items: center
        max-width: 320px
        margin: 0 auto
        height: 100%

        li
            text-align: center
            font-weight: 700

            .count
                display: none

            .description
                display: block
                font-weight: 300

            .selected
                position: relative
                display: block
                background-color: white
                border-radius: 50%
