.hero--lead
    position: relative
    margin:
        top: 10%

    .lead--text
        width: 80%
        font-size: 30px
        text-transform: uppercase
        text-decoration: underline
        text-decoration-color: $color3

        @media (max-width: $media-phone)
            font-size: 18px

    .lead--images
        margin: 0 auto

        img
            height: 200px
            max-width: 40vw

            @media (max-width: $media-phone)
                min-width: 45vw

.hero--resume
    margin: 20px 0

    &__links
        margin-top: 75px

        a
            background-color: $links-color
