#projects
    .projects--header
        position: relative
        width: 80%
        height: 120px
        margin: 20px auto
        text-align: right
        color: $color-back
        text-shadow: 1px 1px 2px #000
        background:
            image: url($imgPath + 'projects.jpg')
            size: cover
            position: center

        h1
            position: absolute
            bottom: 20px
            right: 20px

    h2
        text-transform: lowercase
        text-decoration: underline
        text-decoration-color: $color3

    .project
        margin: 20px 40px

        h3
            font-size: 20px

        h4
            font-weight: 300

        a
            background-color: $color3
